<h2><%=@post.name%></h2>
<h3><%=@post.content%></h3>


<form action="/posts/<%= @post.id %>" method="POST">
    <label for"name_edit">Edit Post <%=@post.id%> Name: </label>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" ...>

    <label for"name_edit">Edit Post <%=@post.id%> Content: </label>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" ...>
    <input type = "submit">
</form>
