<h2><%=@post.name%></h2>
<h3><%=@post.content%></h3>


<form action="/posts/<%= @post.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    Post Name: <input type="text" value="<%=@post.name%>" name="name">
    Post Content: <input type="text" value="<%=@post.content%>" name="content">
    <input type = "submit">
</form>
