<h2><%=@post.name%></h2>
<h3><%=@post.content%></h3>


<form action="/posts/<%= @post.id %>" method="POST">
    <label for"name">Edit Post <%=@post.id%> Name: </label>
    <input id="hidden" type="hidden" name="_method" value="patch">
    Name<input type="text" value="<%=@post.name%>" name="name">
    Content<input type="text" value="<%=@post.content%>" name="content">

    <label for"content">Edit Post <%=@post.id%> Content: </label>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type = "submit">
</form>
